<%= render 'pages/home' unless user_signed_in? %>
<div id="feeds" class="transitions-enabled">
  <% @feeds.each do |feed| %>
    <div class="box panel panel-default">
      <div class="panel-body">
        <p><strong><%= feed.title %></strong></p>
      </div>
    </div>
  <% end %>
</div>
<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>