
<%= image_tag @feed.image.url(:medium) %>
<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>
<% if @feed.user == current_user %>
	<%= link_to 'Edit', edit_feed_path(@feed) %> |
<% end %>
<%= link_to 'Back', feeds_path %>
